 /* * {
  border: 1px solid green;
}  */

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #191919;

}

#buffer {
  height: 50px;
}

.hello {
  text-align: right;
  background: #003f2d;
  height: 30px;
  padding-right: 20px;
  padding-top: 10px;
}

.hello li {
  display: inline-block;
}

#userName {
  position: relative;
  top: -30px;
  color: white;
  font-size: 15px;

}

.hello img {
  margin: 5px;
}

p {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
  width: 400px;
  height: 600px;
  background: white;
  /*background: url("./completed.png") no-repeat center center;*/
  background-size: 400px 600px;
}

.container {
  margin: 0 auto;
  width: 360px;
  height: 500px;
  padding-top: 20px;
}

h1 {
  text-align: left;
}

.slide {
  background: #f2f2f2;
  margin: 20px auto 0;

  height: 50px;
}

.slide:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  /* list-style-position: inside;*/
  margin: 0;
  padding: 0;
}

.slideInfo {
  width: 100%;
  margin: 0;
  padding: 0;
}

.slideInfo li {
  display: inline-block;
}

.icon {
  margin: 10px;
  vertical-align: top;
}

#houseicon {
  margin-right: 60px;
}

.shopName {
  font-size: 15px;
  text-align: center;
  margin: 10px 10px;
}

.address {
  font-size: 10px;
  text-align: center;

}

.driveTime {
  font-size: 20px;

  float: right;

  font-weight: 700;
  color: #191919;
  margin-top: 20px;
  padding-right: 5px;

}

.done {
  width: 40px;
  height: 40px;
  background: green;
  border-radius: 5px;
  position: relative;
  left: 450px;
  top: -25px;
  margin: -20px 0;
  display: none;
}

/* .info {
  width: 40px;
  height: 40px;
  background: yellow;
  border-radius: 5px;
  position: absolute;
  left: 200px;
  top: 210px;
  margin: -20px 0;
}
*/

.done:hover {
  cursor: pointer;
}

.dropDownSlide {
  height: 50px;
  margin-top: 10px;
  text-align: center;
  display: none;


}



.button {
  margin: 0 10px;
  border:2px solid #003f2d;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.button img {
  margin-top: 5px;
}

.button:hover {
  cursor: pointer;
}



.dropDownInfo li {
  display: inline-block;

}

#verified {
  position: absolute;
  left: 645px;
  top: 180px;
}

#verified1 {
  position: absolute;
  left: 645px;
  top: 250px;
}

.navBar {
  height: 50px;
  background: #003f2d;
  color: white;
  text-align: center;
  margin: 0;
}



.navBar li {
  display: inline-block;
}

.navBar div {
  margin: 0 40px;
}
#history {
  position: relative;
  top: -17px;
}
#dashboard {
  position: relative;
  top: -10px;
}
#camera {
  position: relative;
  top: -5px;
}

.navBar div:hover {
  cursor: pointer;
}
